<div class="card">
    <div class="card-body">
        <h3 class="note-title">{{this.title}}</h3>
        <p class="note-body">{{this.body}}</p>
    </div>
    <button class="btn btn-secondary delete-note" data-id="{{this._id}}">Delete</button>
</div>